In [1]:
import os

In [2]:
db_file = "example1.db"
if os.path.exists(db_file):
    os.remove(db_file)

In [3]:
import sqlite3

In [4]:
con = sqlite3.connect(db_file)

In [5]:
cursor = con.cursor()

In [6]:
cursor.execute('''CREATE TABLE stocks
                (data text, trans text, symbol text, qty real, price real)''')

In [7]:
cursor.execute("""INSERT INTO stocks VALUES
                ('2006-01-05', 'BUY', 'RHAT', 100, 35.14)""")

In [8]:
cursor.execute("""INSERT INTO stocks VALUES
                ('2006-02-05', 'BUY', 'FED', 200, 35.24)""")

In [9]:
for item in cursor.execute("select * from stocks"):
    print(item)

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-02-05', 'BUY', 'FED', 200.0, 35.24)

In [10]:
t = ('RHAT',)
# 使用内置的替换，减少安全风险
cursor.execute('SELECT * FROM stocks WHERE symbol = ?', t)
print(cursor.fetchone())

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)

In [13]:
# 使用executemant执行多条操作
# Larger example that inserts many records at a time
purchases = [('2006-03-28', 'BUY', 'IBM', 1000, 45.00),
             ('2006-04-05', 'BUY', 'MSFT', 1000, 72.00),
             ('2006-04-06', 'SELL', 'IBM', 500, 53.00),
            ]
cursor.executemany('INSERT INTO stocks VALUES (?,?,?,?,?)', purchases)

In [14]:
# 执行脚本
sql = """create table news (id integer, score integer, title text, href text);
insert into news values (1, 8, "hello world", "http://oscar-lab.org");
insert into news values (2, 2, "hello charlie", "http://www.dlut.edu.cn");"""
cursor.executescript(sql)

In [15]:
print(list(cursor.execute("select * from news")))

[(1, 8, 'hello world', 'http://oscar-lab.org'), (2, 2, 'hello charlie', 'http://www.dlut.edu.cn')]

In [16]:
con.row_factory = sqlite3.Row
c = con.cursor()
c.execute('select * from stocks')

In [17]:
r = c.fetchone()
type(r)

sqlite3.Row

In [18]:
r.keys()

['data', 'trans', 'symbol', 'qty', 'price']

In [20]:
r['data']

'2006-01-05'

In [21]:
for field in r:
    print(field)

2006-01-05
BUY
RHAT
100.0
35.14

In [22]:
# 关闭数据库
con.close()