In [1]:
import sqlite3

In [2]:
con = sqlite3.connect("student1.db")

In [9]:
con.execute("create table students2 (ID text, name text, age int)")

In [10]:
con.execute("insert into students2 values('123', 'zhangsan', 15)")
con.execute("insert into students2 values('124', 'lisi', 15)")

In [6]:
con.execute("drop table students1")

In [8]:
con.execute("drop table students2")